@page
{
    size: auto; /* auto is the current printer page size */
    margin: 0mm; /* this affects the margin in the printer settings */
}

body
{
    background-color: #FFFFFF;
    color: black;
    margin: 0px 20mm; /* the margin on the content before printing */
    font-size: 1.0em;
}

address
{
    margin-bottom: 0;
    line-height: 1em;
    font-size: 1.0em;
}

.page-header h5
{
    line-height: 1em;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.page-header
{
    border-bottom-color: black;
    margin-bottom: 0;
}

.col-md-12.page-header
{
    margin-top: 1mm;
    margin-bottom: 1mm;
    padding-bottom: 0;
}

.row.insert-gap
{
    margin-bottom: 1mm;
}

.page-header
{
    margin-top: 0;
    margin-bottom: 2mm;
}

.sc-preview
{
    line-height: 1.0em;
}

.sc-signatures .col-xs-offset-1
{
    margin-top: 4mm;
    border-bottom: 1px solid black;
}

.no-padding
{
    padding: 0;
}

.no-left-padding
{
    padding-left: 0;
}