<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="#/home">Início</a></li>
      <li role="presentation"><a href="#/preview">Relatório</a></li>
    </ul>
  </nav>
  <h3 class="text-primary">Controle da Balança</h3>
</div><!-- /header -->


<div class="btn-group pull-right" role="group" aria-label="Ações">
  <button type="button" class="btn btn-default" ng-click="resetForm()">
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>{{ ' Novo' }}
  </button>
  <button type="button" class="btn btn-default" ng-click="changeView('/preview')">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>{{ ' Ver relatório' }}
  </button>
</div><!-- /btn-group -->

<div class="form-horizontal">
  <div class="form-group form-inline">
    <label class="control-label col-sm-2" for="dt-intime">Entrada</label>
    <div class="col-sm-2 no-left-padding">
      <input class="form-control" type="time" id="dt-intime" ng-model="data.inTime">
    </div>

    <div class="form-group">
      <label class="control-label col-sm-offset-2 col-sm-2" for="dt-outtime">Saída</label>
      <div class="col-sm-2 col-sm-offset-2 no-padding">
        <input class="form-control" type="time" id="dt-outtime" ng-model="data.outTime">
      </div>
    </div>
  </div>
</div><!-- /form-horizontal -->


<!-- Section: Info ======================================== -->
<div class="page-header clearfix">
  <h4 class="text-primary">Informações</h4>
</div>

<div class="form-horizontal">

  <div class="form-group">
    <label class="control-label col-sm-2" for="dt-info-plate">Placa</label>
    <div class="col-sm-2 no-left-padding">
      <input class="form-control" type="text" id="dt-info-plate" ui-mask="AAA-9999" ng-model="data.plate">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="dt-info-date">Emissão</label>
    <div class="col-sm-3 no-left-padding">
      <input class="form-control" type="date" id="dt-info-date" ng-model="data.date">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="dt-info-supplier">Fornecedor</label>
    <div class="col-sm-10 no-padding">
      <input class="form-control" type="text" id="dt-info-supplier" placeholder="Nome do fornecedor" ng-model="data.supplier">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="dt-info-product">Produto</label>
    <div class="input-group col-sm-10">
      <input class="form-control" type="text" id="dt-info-product" aria-label="Produto" placeholder="Escolha um produto" ng-model="data.product">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produtos <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li ng-repeat="product in allProducts"><a href="#/home" ng-click="chooseProduct($index)">{{ product }}</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /from-group -->

</div><!-- /form-horizontal -->
<!-- End of Section: Info -------------------------------- -->

<!-- Section: Weighing ==================================== -->
<div class="page-header">
  <h4 class="text-primary">Pesagem</h4>
</div>

<div class="form-horizontal">

  <div class="form-group">
    <label class="control-label col-sm-2" for="dt-weigh-gross">Peso bruto</label>
    <div class="input-group col-sm-3">
      <input class="form-control" type="text" id="dt-weigh-gross" ng-model="data.grossWeight">
      <span class="input-group-addon">Kg</span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="dt-weigh-tare">Tara</label>
    <div class="input-group col-sm-3">
      <input class="form-control" type="number" id="dt-weigh-tare" ng-model="data.tareWeight">
      <span class="input-group-addon">Kg</span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" for="dt-weigh-net">Saldo</label>
    <div class="input-group col-sm-3">
      <input class="form-control" type="number" id="dt-weigh-net" ng-model="data.netWeight" readonly>
      <span class="input-group-addon">Kg</span>
    </div>
  </div>

</div><!-- /form-horizontal -->
<!-- End of Section: Weighing ---------------------------- -->

<!-- Section: Deductions ================================== -->
<div class="page-header">
  <h4 class="text-primary">Descontos</h4>
</div>

<div class="form-horizontal">

  <div class="form-group form-inline">
    <label class="control-label col-sm-2" for="dt-ded-humidity-pct">Umidade</label>
    <div class="input-group col-sm-2">
      <input class="form-control" type="number" id="dt-ded-humidity-pct" min="0" max="40" ng-model="data.deductions.humidity.pct">
      <span class="input-group-addon">%</span>
    </div>
    <div class="input-group col-sm-2">
      <input class="form-control" type="text" ng-model="data.deductions.humidity.kg" readonly>
      <span class="input-group-addon">Kg</span>
    </div>
  </div><!-- /form-group -->

  <div class="form-group form-inline">
    <label class="control-label col-sm-2" for="dt-ded-impurities-pct">Impureza</label>
    <div class="input-group col-sm-2">
      <input class="form-control" type="number" id="dt-ded-impurities-pct" min="0" max="100" ng-model="data.deductions.impurities.pct">
      <span class="input-group-addon">%</span>
    </div>
    <div class="input-group col-sm-2">
      <input class="form-control" type="text" ng-model="data.deductions.impurities.kg" readonly>
      <span class="input-group-addon">Kg</span>
    </div>
  </div><!-- /form-group -->

  <div class="form-group form-inline">
    <label class="control-label col-sm-2" for="dt-ded-badgrain-pct">Gesso</label>
    <div class="input-group col-sm-2">
      <input class="form-control" type="number" id="dt-ded-badgrain-pct" min="0" max="100" ng-model="data.deductions.badGrain.pct">
      <span class="input-group-addon">%</span>
    </div>
    <div class="input-group col-sm-2">
      <input class="form-control" type="text" ng-model="data.deductions.badGrain.kg" readonly>
      <span class="input-group-addon">Kg</span>
    </div>
  </div><!-- /form-group -->

  <div class="form-group form-inline">
    <label class="control-label col-sm-2" for="dt-ded-misc-pct">Outros</label>
    <div class="input-group col-sm-2">
      <input class="form-control" type="number" id="dt-ded-misc-pct" min="0" max="100" ng-model="data.deductions.misc.pct">
      <span class="input-group-addon">%</span>
    </div>
    <div class="input-group col-sm-2">
      <input class="form-control" type="text" ng-model="data.deductions.misc.kg" readonly>
      <span class="input-group-addon">Kg</span>
    </div>
  </div><!-- /form-group -->

  <div class="page-header no-top-margin"></div>

  <div class="form-group form-inline">
    <label class="control-label col-sm-2" for="db-ded-drying-pct">Secagem</label>
    <div class="input-group col-sm-2">
      <input class="form-control" type="number" id="db-ded-drying-pct" min="0" max="100" ng-model="data.deductions.drying.pct">
      <span class="input-group-addon">%</span>
    </div>
    <div class="input-group col-sm-2">
      <input class="form-control" type="text" ng-model="data.deductions.drying.kg" readonly>
      <span class="input-group-addon">Kg</span>
    </div>
  </div><!-- /form-group -->

</div><!-- /form-horizontal -->
<!-- End of Section: Deductions ---------------------------- -->

<!-- Section: Final Net Weight ============================ -->
<div class="page-header no-top-margin"></div>

<div class="form-horizontal">
  <div class="form-group form-inline">
    <label class="control-label col-sm-2" for="dt-net-wgh-final-kg">Peso líquido</label>
    <div class="input-group col-sm-2">
      <input class="form-control" type="text" id="dt-net-wgh-final-kg" ng-model="data.netWeightFinal.kg" readonly>
      <span class="input-group-addon">Kg</span>
    </div>
    <div class="input-group col-sm-3">
      <input class="form-control" type="text" ng-model="data.netWeightFinal.sacks" readonly>
      <span class="input-group-addon">sacos</span>
    </div>
  </div>
</div><!-- /form-horizontal
<!-- End of Section: Final Net Weight -------------------- -->